.user-el {
    width: 100%;
    .thumbnail {
        // min-width: 30%;
        background-color: #444;
        border-radius: 50%;
        width: 4rem;
        height: 4rem; //         img {
        //     // float: right;
        // }
    }
    a.user-detail {
        // vertical-align: center;
        color: #000000 !important;
        &,
        &:hover {
            text-decoration: none !important;
        }
        font-size: 2em;
    }
}
