<h1 class="mb-4">ورود</h1>
<form name="form" ng-submit="submit()">
  <div class="form-group">
    <label>ایمیل یا نام کاربری</label>
    <input type="text" name="username" class="form-control" placeholder="نام کاربری" ng-model="loginForm.username" required> </div>
  <div class="form-group">
    <label>رمز عبور</label>
    <input type="password" name="password" class="form-control" placeholder="رمزینه" ng-model="loginForm.password" required> </div>
  <div class="row">
    <button type="submit" class="btn btn-dark my-1 mx-auto">ورود</button>
  </div>
</form>
</div>
