<form id="new-post" class="card" name="form" ng-submit="publish()" enctype="multipart/form-data">
  <div class="card-body">
    <div ng-if="post.image" class="pb-2">
      <img ngf-src="post.image" style="width: 100%;" alt="Post image preview">
    </div>
    <textarea id="new-post-textarea" name="content" rows="5" maxlength="200" placeholder="چه خبر؟" ng-model="post.content"></textarea>
  </div>
  <div class="card-footer d-flex justify-content-between">
    <div class="start">
      <!-- ngf-resize-if="resizeCondition($width, $height)" ngf-resize="rszOpts" ngf-validate-after-resize="true" -->
      <label for="imageInput" class="mx-2 mb-0 btn btn-light">
        <input id="imageInput" class="d-none" type="file" name="image" ngf-select="fileChanged($file)" ngf-accept="'image/*'" ngf-pattern="'image/*'"
          ngf-max-size="0.5MB" ngf-min-width="320" ngf-min-height="200">
        <i class="fa fa-picture-o" aria-hidden="true"></i>
        <i class="fa fa-plus" aria-hidden="true"></i>
      </label>
      <div class="btn" id="location">
        <i class="fa fa-map-marker mx-2" aria-hidden="true"></i> {{post.location}}</div>
    </div>
    <div class="end">
      <span class="text-muted">{{ 200 - content.length | farsiNum }} کاراکتر</span>
      <button type="submit" class="btn btn-primary"> انتشار </button>
    </div>
  </div>
</form>
