<div class="post card my-5">
  <div class="card-header">
    <div ng-if="$ctrl.post.image.id" class="pb-2">
      <img ng-src="{{$ctrl.post.image | imgSrc}}" style="width: 100%;" alt="Post image">
      <hr>
    </div>
    <span>
      <img class="author-avatar" ng-src="{{$ctrl.post.author | avatar}}" alt=""> {{$ctrl.post.author.name}} </span>
    <span ng-if="$ctrl.post.location">
      <i class="fa fa-map-marker mx-3" aria-hidden="true"></i> {{$ctrl.post.location}}</span>
  </div>
  <div class="card-body">
    <p class="p-3">{{$ctrl.post.content}}</p>
  </div>
  <div class="card-footer d-flex">
    <div class="mx-3">
      <i class="fa fa-comment-o" aria-hidden="true"></i> {{$ctrl.post.comments | farsiNum}} نظر </div>
    <div class="mx-3">
      <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{$ctrl.post.likes.length | farsiNum}} لایک </div>
    <div class="mx-3 ml-auto"> {{$ctrl.post.createdAt | shamsiDate}} </div>
  </div>
</div>
